<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Instagram", root_url, class: "navbar-brand" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "New Post",   new_post_path %></li>
        <li><%= link_to "Help",   '#' %></li>
        <% if current_user%>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete, confirm: 'Are you sure?' %></li>
        <% else %>
        <li><%= link_to "Log in", new_user_session_path %></li>
        <li><%= link_to "Register", new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>